{{!-- แบบสรุปข้อมูลการจำหน่าย /ส่งต่อผู้ป่วยเพื่อการดูแลต่อเนื่อง(สูติ/หลังคลอด) --}}

<br>
<div class="row z-depth-3">
  <div class="col s12">

    {{!-- Form --}}
    <form action="/patient/edit/form/3/{{form3.id}}?_method=PUT" method="post">
      <input type="hidden" name="_method" value="PUT">
      <div class="row"></div>
      <div class="col s12 center">
        <span style="font-size: 125%; font-weight: bold;">
          <i class="fa fa-pencil-alt"></i>แบบสรุปข้อมูลการจำหน่าย /ส่งต่อผู้ป่วยเพื่อการดูแลต่อเนื่อง(สูติ/หลังคลอด)</span>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      {{!-- First Line --}}

      <div class="col s2">
        <label>หอผู้ป่วย</label>
        <input type="text" name="dorm" placeholder="หอผู้ป่วย" value="{{form3.dorm}}">
      </div>
      <div class="col s2 offset-s8">
        <label>เตียง/ห้อง</label>
        <input type="text" name="room" placeholder="เตียง/ห้อง" value="{{form3.room}}">
      </div>
      <div class="row"></div>
      <div class="col s4">
        <label>ชื่อ-สกุล</label>
        <input type="text" name="name" placeholder="ชื่อ-สกุล" value="{{patient.name}}">
      </div>
      <div class="input-field col s2">
        <input type="number" name="age" min="1" max="120" placeholder="อายุ (ปี)" value="{{patient.age}}" class="validate" required>
        <label for="age">อายุ (ปี)</label>
      </div>
      <div class="col s2">
        <label>HN</label>
        <input type="text" name="HN" placeholder="HN" value="{{patient.HN}}">
      </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <label for="">ที่อยู่(ปัจจุบัน)</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="col s2">
          <label>เลขที่</label>
          <input type="text" name="addr1" placeholder="เลขที่" value="{{patient.addr1}}">
        </div>
        <div class="col s3">
          <label>หมู่/ถนน</label>
          <input type="text" name="addr2" placeholder="หมู่/ถนน" value="{{patient.addr2}}">
        </div>
        <div class="col s3">
          <label>ตำบล</label>
          <input type="text" name="addr3" placeholder="ตำบล" value="{{patient.addr3}}">
        </div>

        <div class="col s3">
          <label>อำเภอ</label>
          <input type="text" name="addr4" placeholder="อำเภอ" value="{{patient.addr4}}">
        </div>
        <div class="row"></div>
        <div class="col s3 l2">
          <label>จังหวัด</label>
          <input type="text" name="addr5" placeholder="จังหวัด" value="{{patient.addr5}}">
        </div>
        <div class="col s3 l2">
          <label>โทรศัพท์</label>
          <input type="tel" name="phone" id="phone" placeholder="โทรศัพท์" value="{{patient.phone}}" class="validate" required>
        </div>
        <div class="col s3 l2">
          <label>สถานที่ใกล้เคียง</label>
          <input type="text" name="nearbyplace" placeholder="สถานที่ใกล้เคียง" value="{{form3.nearbyplace}}">
        </div>
        <div class="col s3 l2">
          <label>อาชีพ</label>
          <input type="text" name="job" placeholder="อาชีพ" value="{{patient.job}}">
        </div>
      </div>
      <div class="col s3">
        <label>วันที่อยู่ป่วย</label>
        <input type="text" name="checkInDate" class="datepicker" placeholder="วันที่อยู่ป่วย" value="{{form3.checkInDate}}">
      </div>
      <div class="col s2">
        <label>เวลา</label>
        <input type="tel" name="checkInTime" class="timepicker" placeholder="เวลา" value="{{form3.checkInTime}}">
      </div>
      <div class="col s3 offset-s4">
        <label>แพทย์</label>
        <input type="text" name="doctor" placeholder="แพทย์" value="{{form3.doctor}}">
      </div>
      <div class="col s12">
        <label>อาการสำคัญ</label>
        <input type="text" name="symptom" placeholder="อาการสำคัญ" value="{{form3.symptom}}">
      </div>

      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <label for="">อาการปัจจุบัน</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="col s1">
          <label>G</label>
          <input type="number" min="0" name="G" placeholder="G" value="{{patient.G}}" class="validate" required>
        </div>
        <div class="col s1">
          <label>P</label>
          <input type="number" min="0" name="P" placeholder="P" value="{{patient.P}}" class="validate" required>
        </div>
        <div class="col s2 l1 ">
          <label>GA (wks)</label>
          <input type="number" min="0" name="GA" placeholder="GA (wks)" value="{{patient.GA}}" class="validate" required>
        </div>
        <div class="col s8 l9">
          <label>...</label>
          <input type="text" name="currentSymptom" placeholder="อาการปัจจุบัน" value="{{form3.currentSymptom}}">
        </div>
        <div class="col s4">
          <label>ภาวะแทรกซ้อน</label>
          <input type="text" name="complications" placeholder="ภาวะแทรกซ้อน" value="{{form3.complications}}">
        </div>
        <div class="col s8">
          <label>โรคประจำตัว</label>
          <input type="text" name="congenitalDisorder" placeholder="โรคประจำตัว" value="{{form3.congenitalDisorder}}">
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <label for="">สัญญานชีพแรกรับ</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="col s1">
          <label>T (c)</label>
          <input type="number" min="0" name="T" placeholder="T (c)" value="{{form3.T}}" class="validate" required>
        </div>
        <div class="col s1">
          <label>P /min</label>
          <input type="number" min="0" name="pressure" placeholder="P /min" value="{{form3.pressure}}" class="validate" required>
        </div>
        <div class="col s1">
          <label>R /min</label>
          <input type="number" min="0" name="R" placeholder="R /min" value="{{form3.R}}" class="validate" required>
        </div>
        <div class="col s2 l1">
          <label>BP (mmHg)</label>
          <input type="number" min="0" name="BP" placeholder="BP (mmHg)" value="{{form3.BP}}" class="validate" required>
        </div>
        <div class="col s2">
          <label>O2Sat %</label>
          <input type="number" min="0" name="O2Sat" placeholder="O2Sat %" value="{{form3.O2Sat}}" class="validate" required>
        </div>
        <div class="col s2">
          <label>น้ำหนัก (กก.)</label>
          <input type="number" min="1" max="500" name="weight" placeholder="น้ำหนัก (กก.)" value="{{patient.weight}}" class="validate"
            required>
        </div>
        <div class="col s2 l2">
          <label>สูง (ซม.)</label>
          <input type="number" min="1" max="500" name="height" placeholder="สูง (ซม.)" value="{{patient.height}}" class="validate"
            required>
        </div>
        <div class="col s1 l3">
          <label>BMI</label>
          <input type="number" min="0" name="BMI" placeholder="BMI" value="{{form3.BMI}}" class="validate" required>
        </div>
      </div>
      <div class="col s6">
        <label>Diagnosis(1)</label>
        <input type="text" name="Diagnosis1" placeholder="Diagnosis(1)" value="{{form3.Diagnosis1}}">
      </div>
      <div class="col s6">
        <label>Diagnosis(2)</label>
        <input type="text" name="Diagnosis2" placeholder="Diagnosis(2)" value="{{form3.Diagnosis2}}">
      </div>



      <div class="row"></div>
      <div class="right" style="margin-right:10px;">
        <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>

        <a class="btn waves-effect waves-light red" href="javascript:history.back()" name="action">Cancel</a>
      </div>
      <div class="row"></div>
    </form>
    <!-- End Form -->
  </div>
</div>



<script src="http://code.jquery.com/jquery-1.7.2.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
<script>
  $(document).ready(function ($) {
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('#phone').mask("999-999-9999", { placeholder: " ", autoclear: false });
  });
</script>