<div class="row"></div>
<div class="row">
  <div class="col s3 m3"></div>
  <div class="col s6 m6 z-depth-3 ">
    <img src="/img/logo.png" class="logo">
    <h4 class="center-align" style="font-family: Ekk;">
      <i class="fa fa-pencil-alt"></i> {{patient.name}}</h4>
    <br>
    <div class="row col s12 register">
      <form action="/patient/edit/save/{{patient.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="input-field col s6">
          <input type="text" name="name" id="name" class="validate" value="{{patient.name}}" required>
          <label for="name">ชื่อ-สกุล</label>
        </div>
        <div class="input-field col s2">
          <input type="number" name="age" id="age" class="validate" value="{{patient.age}}" required>
          <label for="age">อายุ</label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="job" id="job" value="{{patient.job}}" class="validate">
          <label for="job">อาชีพ</label>
        </div>

        <div class="input-field col s3">
          <input type="number" name="weight" id="weight" class="validate" value="{{patient.weight}}" required>
          <label for="weight">น้ำหนัก (กก.)</label>
        </div>
        <div class="input-field col s3">
          <input type="number" name="height" id="height" class="validate" value="{{patient.height}}" required>
          <label for="height">สูง (ซม.)</label>
        </div>
        <div class="input-field col s3">
          <input type="text" name="HN" id="HN" value="{{patient.HN}}" class="validate">
          <label for="job">HN</label>
        </div>
        <div class="input-field col s3">
          <input type="text" name="ward" id="ward" value="{{patient.ward}}" class="validate">
          <label for="ward">Ward</label>
        </div>

        <div class="input-field col s2">
          <input type="text" name="G" id="G" value="{{patient.G}}">
          <label for="G">G</label>
        </div>
        <div class="input-field col s2">

          <input type="text" name="P" id="P" value="{{patient.P}}">
          <label for="P">P</label>
        </div>
        <div class="input-field col s2">
          <input type="text" name="A" id="A" value="{{patient.A}}">
          <label for="A">A</label>
        </div>
        <div class="input-field col s2">
          <input type="text" name="L" id="L" value="{{patient.L}}">
          <label for="L">L</label>
        </div>
        <div class="input-field col s3">
          <input type="text" name="GA" id="GA" value="{{patient.GA}}">
          <label for="GA">GA (wks)</label>
        </div>

        <div class="input-field col s4">
          <input type="text" name="addr1" id="addr1" class="validate" value="{{patient.addr1}}">
          <label for="addr1">เลขที่</label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="addr2" id="addr2" value="{{patient.addr2}}">
          <label for="addr2">หมู่/ถนน</label>
        </div>
        <div class="input-field col s4">
          <label for="addr3">ตำบล</label>
          <input type="text" name="addr3" id="addr3" value="{{patient.addr3}}">
        </div>

        <div class="input-field col s4">
          <input type="text" name="addr4" id="addr4" value="{{patient.addr4}}">
          <label for="addr4">อำเภอ</label>
        </div>

        <div class="input-field col s4">
          <input type="text" name="addr5" id="addr5" value="{{patient.addr5}}">
          <label for="addr5">จังหวัด</label>
        </div>
        <div class="input-field col s4">
          <input type="tel" name="phone" id="phone" value="{{patient.phone}}">
          <label for="phone">โทรศัพท์</label>
        </div>

        <div class="row"></div>
        <div class="right" style="margin-right:10px;">
          <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
          <a class="btn waves-effect waves-light red" href="javascript:history.back()" name="action">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <div class="col s3 m3"></div>
</div>



<script src="http://code.jquery.com/jquery-1.7.2.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
<script>
  $(document).ready(function ($) {
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('#phone').mask("999-999-9999", { placeholder: " ", autoclear: false });
  });
</script>